
:root{
    --mainfont: 'Raleway', sans-serif;
    --ffcolor:#00bbff;
    --pcolor: #444444;
    --hcolor:#222222;
    --gcolor: linear-gradient(#36c1f3, #003cff);
    --bcolor:#f5f5f5;

}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: middle;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.ml{
    margin-left: 30px;
}

/* =======================
common css ends
========================== */



nav{
    position: absolute;
    top:30px;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.navber{
    height: 70px;
    /* background: #6aa7ee; */
    display: flex;
    
}

.navber .nav-logo{
    width: 55px;
    height: 100%;
}
.navber .nav-logo img{
    width: 100%;
}

.navber .nav-list{
    width: 1145px;
    height: 100%;
    /* background: #6c7279; */
}

.navber .nav-list ul{
    display: flex;
    justify-content: end;
}


.navber .nav-list ul li a{
    line-height:70px;
    text-transform: uppercase;
    padding: 0 20px;
    color: #222;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: #444444;
    cursor: pointer;
    
}

.navber .nav-list ul li a:hover{
    color:var(--ffcolor);
}
/* =======================
navber css ends
========================== */


#home{
    height: 600px;
    background: #eff1f1;
    position: relative;
    z-index: -1;
}

#home .home{
    height: 600px;
    /* background: #77ebeb; */
    position: relative;
}

#home .home .chat{
    position: absolute;
    top: 125px;
}
#home .home .chat1{
    width: 200px;
    height: 30px;
    background: #d1d0d0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left:40px  
}

#home .home .chat1 h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #444444;
}

#home .home .chat2{
    width: 280px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 60px;
    left: -40px;
}

#home .home .chat2 h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #444444;
}

#home .home .chat3{
    width: 200px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 40px;
    position: absolute;
    top: 100px;
    left: 40px;
}

#home .home .chat3 h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #444444;
}

#home .home .chat4{
    width: 200px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 140px;
    left: -30px;
}

#home .home .chat4 h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #444444;
}

#home .home .chat5{
    width: 230px;
    height: 30px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    line-height: 20px;
    line-height: 30px;
    position: absolute;
    top: 180px;
    left: 30px;

}

#home .home .chat1 h6{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #444444;
}

#home .home .person-image{
    height: 570px;
    width: 410px;
    position: absolute;
    top: 30px;
    left: 235px;
    position: relative;
}

#home .home .person-image::after{
    content: '';
    width: 10px;
    height: 450px;
    position: absolute;
    top: 70px;
    left: 350px;
    background: var(--gcolor);
}

#home .home .person-image::before{
    content: '';
    width: 10px;
    height: 200px;
    position: absolute;
    top: 70px;
    left: 70px;
    background: var(--gcolor);
}

#home .home .person-image img{
    width: 100%;
    height: 570px;
    z-index: 999;
}

#home .home .person-image .image{
    position: relative;
}

#home .home .person-image .image::before{
    content: '';
    width: 270px;
    height: 10px;
    position: absolute;
    top: 70px;
    left: 80px;
    background: var(--gcolor);
    z-index: -1;
}

#home .home .person-image .image::after{
    content: '';
    width: 260px;
    height: 10px;
    position: absolute;
    top: 510px;
    left: 90px;
    background: var(--gcolor);
    z-index: -1;
}

#home .home .person-image .icon{
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 40px;
    z-index: 9999;
}

#home .home .person-image .icon i{
    color: #00bbff;
    font-size: 32px;
    line-height: 70px;
    position: absolute;
    left: 15px;
   
}

#home .home .text{
    width: 435px;
    height: 135px;
    position: absolute;
    left:723px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#home .home .text h4{
    color:#00bbff;
    font-size: 26px;
    text-transform: capitalize;
}

#home .home .text h1{
    color:#00bbff;
    font-size: 40px;
    text-transform: capitalize;
}

#home .home .text p{
    color:#222;
    font-size: 20px;
    text-transform: capitalize;
}

#home .home .text a{
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    background: linear-gradient(#36c1f3, #003cff);
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}
/* =======================
home css ends
========================== */


#about{
    height: 485px;
    
}

.about{
    height: 485px;
    position: relative;
    margin-top: 100px;
}

.about .box-image{
    height: 100%;
    width: 378px;
    position: relative;
    z-index: -1;
}

.about .box-image .box{
    width: 273px;
    height: 273px;
    border: 5px solid  #003cff;
    position: absolute;
    left: 50px;
    top: 150px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    z-index: 2;
}

.about .box-image .image {
    position: absolute;
    left: 18px;
    top: 0px;
    z-index: 999;
}
.about .box-image  .image img{
    width: 100%;  
}

.about .text{
    position: absolute;
    top: 0;
    left: 50%;
}

.about .text h1{
    text-transform: capitalize;
    font-size: 32px;
    color: #222222;
}

.about .text p{
    margin-top: 50px;
    font-size: 16px;
    color: var(--pcolor);
    line-height: 24px;
}

.about .text .shape1{
    width: 250px;
    height: 85px;
    position: absolute;
    top: 230px;
    left: 0;   
}

.about .text .shape1 .icon{
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 40px;
}

.about .text .shape1 .icon i{
    color: var(--ffcolor);
}

.about .text .shape1 .icon-text{
    position: absolute;
    left: 20%;
    top: 20%;
}

.about .text .shape1 .icon-text h4{
    text-transform: capitalize;
    font-size: 14px;
}

.about .text .shape1 .icon-text h1{
    text-transform: capitalize;
    font-size: 30px;
}

.about .text .shape1:hover{
    background-color: #faf6f6;
    box-shadow: 0px 0px 5px 0px;
}

.about .text .shape2{
    width: 250px;
    height: 85px;
    position: absolute;
    top: 230px;
    left: 50%;
}

.about .text .shape2 .icon{
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 40px;
}

.about .text .shape2 .icon i{
    color: var(--ffcolor);
}

.about .text .shape2 .icon-text{
    position: absolute;
    left: 20%;
    top: 20%;
}

.about .text .shape2 .icon-text h4{
    text-transform: capitalize;
    font-size: 14px;
}

.about .text .shape2 .icon-text h1{
    text-transform: capitalize;
    font-size: 30px;
}

.about .text .shape2:hover{
    background-color: #faf6f6;
    box-shadow: 0px 0px 5px 0px;
}

.about .text .shape3{
    width: 250px;
    height: 85px;
    position: absolute;
    top: 370px;
    left: 0;
}

.about .text .shape3:hover{
    background-color: #faf6f6;
    box-shadow: 0px 0px 5px 0px;
}

.about .text .shape3 .icon{
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 40px;
}

.about .text .shape3 .icon i{
    color: var(--ffcolor);
}

.about .text .shape3 .icon-text{
    position: absolute;
    left: 20%;
    top: 20%;
}

.about .text .shape3 .icon-text h4{
    text-transform: capitalize;
    font-size: 14px;
}

.about .text .shape3 .icon-text h1{
    text-transform: capitalize;
    font-size: 30px;
}


.about .text .shape4{
    width: 250px;
    height: 85px;
    position: absolute;
    top: 370px;
    left: 50%;
}

.about .text .shape4 .icon{
    position: absolute;
    left: 0;
    top: 30%;
    font-size: 40px;
}

.about .text .shape4 .icon i{
    color: var(--ffcolor);
}

.about .text .shape4 .icon-text{
    position: absolute;
    left: 25%;
    top: 20%;
}

.about .text .shape4 .icon-text h4{
    text-transform: capitalize;
    font-size: 14px;
}

.about .text .shape4 .icon-text h1{
    text-transform: capitalize;
    font-size: 30px;
}

.about .text .shape4:hover{
    background-color: #faf6f6;
    box-shadow: 0px 0px 5px 0px;
}
/* =======================
about css ends
========================== */




#service{
    height: 390px;
    background: #f1f1f1;
    margin-top: 100px;
}

/* #service .service{
    height: 100%;
    background: blueviolet;
} */

 #service .service-item{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

#service .service-item .item1{
    width: 370px;
    height: 270px;
    margin-top: 60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .service-item .item1 .icon{
    font-size: 50px;
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

#service .service-item .item1 h1{
    font-size: 24px;
    text-transform: capitalize;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
}

#service .service-item .item1 p{
    font-size: 14px;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
    line-height: 24px;
}

#service .service-item .item1:hover{
    background: #fff;
    color: #222;
    border-right: 2px solid blue;
}

#service  .service-item .item2{
    width: 370px;
    height: 270px;
    margin-top: 60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .service-item .item2 .icon{
    font-size: 50px;
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

#service .service-item .item2 h1{
    font-size: 24px;
    text-transform: capitalize;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
}

#service .service-item .item2 p{
    font-size: 14px;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
    line-height: 24px;
}

#service .service-item .item2:hover{
    background: #fff;
    color: #222;
    border-right: 2px solid blue;
}

#service .service-item .item3{
    width: 370px;
    height: 270px;
    margin-top: 60px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#service .service-item .item3 .icon{
    font-size: 50px;
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 30px;
}

#service .service-item .item3 h1{
    font-size: 24px;
    text-transform: capitalize;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
}

#service .service-item .item3 p{
    font-size: 14px;
    font-family:var(--mainfont);
    color: #222222;
    margin-top: 20px;
    line-height: 24px;
}

#service .service-item .item3:hover{
    background: #fff;
    color: #222;
    border-right: 2px solid blue;
}

/* =======================
service css ends
========================== */


#portfolio{
    width: 100%;
    height: 650px;
    margin-top: 100px;

}

#portfolio .port-list h1{
    font-size: 32px;
    text-transform: capitalize;
    color: var(--hcolor);
}

#portfolio .port-list ul{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-top: 60px;
}

#portfolio .port-list ul li{
    font-size: 16px;
    font-weight: 400;
    color: var(--hcolor);
    text-transform: capitalize;
}

#portfolio .port-list ul li.active{
    color: var(--ffcolor);
}

#portfolio .port-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#portfolio .port-main .port-item{
    width: 19%;
    height: 370px;
    position: relative;
    margin-top: 60px;
}

#portfolio .port-main .port-item img{
    width: 100%;
    height: 100%;
}

#portfolio .port-main .port-item .overlay{
    width: 100%;
    height: 100%;
    background:rgba(14, 13, 13, 0.9);
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#portfolio .port-main .port-item .overlay .icon i{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    color:var(--ffcolor);
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 50%;
}

#portfolio .port-main .port-item .overlay h5{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 10px;
}

#portfolio .port-main .port-item:hover .overlay {
    opacity: 1;
    transition: all linear 0.5s;
}

#portfolio .btn a{
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px ;
    box-sizing: border-box;
    margin-top: 30px;
    margin-left:520px ;
}

/* =======================
portfolio css ends
========================== */



.experience{
    width: 100%;
    height: 385px;
    margin-top: 100px;
}

.experience h1{
    font-size: 32px;
    text-transform: capitalize;
}

.experience .ex-main{
    display:flex;
    justify-content: space-between;

}

.experience .ex-item{
    width: 370px;
    height: 288px;
    margin-top: 60px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}



.experience .ex-item .item1-top{
    width: 100%;
    height: 95px;
    background: #d3d1d1;
    position: absolute;
    top: 0;
    left: 0;
}

.experience .ex-item .item1-top img{
    margin-top: 30px;
    margin-left: 90px;
}

.experience .ex-item .item1-back{
    background: whitesmoke;
    height: 193px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 95px;
}
.experience .ex-item .item1-back h3{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 30px;
}

.experience .ex-item .item1-back h5{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 5px;
}

.experience .ex-item .item1-back p{
    font-size: 14px;
    font-weight: 400;
    color: var(--pcolor);
    line-height: 24px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
}

.experience .ex-item:hover{
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    color: #fff;
}

.experience .ex-item .item2-top{
    width: 100%;
    height: 95px;
    background: #d3d1d1;
    position: absolute;
    top: 0;
    left: 0;
}

.experience .ex-item .item2-top img{
    margin-top: 30px;
    margin-left: 90px;
}

.experience .ex-item .item2-back{
    background: whitesmoke;
    height: 193px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 95px;
}
.experience .ex-item .item2-back h3{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 30px;
}

.experience .ex-item .item2-back h5{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 5px;
}

.experience .ex-item .item2-back p{
    font-size: 14px;
    font-weight: 400;
    color: var(--pcolor);
    line-height: 24px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
}


.experience .ex-item .item3-top{
    width: 100%;
    height: 95px;
    background: #d3d1d1;
    position: absolute;
    top: 0;
    left: 0;
}

.experience .ex-item .item3-top img{
    margin-top: 30px;
    margin-left: 90px;
}

.experience .ex-item .item3-back{
    background: whitesmoke;
    height: 193px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 95px;
}
.experience .ex-item .item3-back h3{
    font-size: 20px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 30px;
}

.experience .ex-item .item3-back h5{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 5px;
}

.experience .ex-item .item3-back p{
    font-size: 14px;
    font-weight: 400;
    color: var(--pcolor);
    line-height: 24px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
}

/* .experience .ex-item:after{
    content: '';
    width: 370px;
    height: 288px;
    background: yellow;
    position: absolute;
    left: 0;
    bottom:0 ;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */


/* =======================
experience css ends
========================== */




#review{
    width: 100%;
    height: 160px;
    background: var(--gcolor);
    margin-top: 100px;
}

#review .review{
    height: 100%;
    /* background:lightcoral; */
    
}

#review .review .review-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#review .review .review-item .text-item1{
    width: 340px;
    height: 160px;
}

#review .review .review-item .text-item1 h3{
    color: #fff;
    text-transform: capitalize;
    font-size: 32;
    font-weight: 400;
    margin-top: 30px;
}

#review .review .review-item .text-item1 a{
    background: -webkit-linear-gradient(#2392ec, #540cdb);
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    line-height: 50px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 30px;
    transition: all linear 0.4s;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
}

#review .review .review-item .text-item1 a:hover{
    background: #fff;
    color: var(--ffcolor);
}
#review .review .review-item .text-item2{
    width: 190px;
    height: 160px;
}

#review .review .review-item .text-item2 .icon i{
    font-size: 32px;
    color: #fff;
    margin-top: 40px;
}

#review .review .review-item .text-item2 h5{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}

#review .review .review-item .text-item2 h5 span{
    font-size: 24px;
}

#review .review .review-item .text-item3{
    width: 190px;
    height: 160px;
}

#review .review .review-item .text-item3 .icon i{
    font-size: 32px;
    color: #fff;
    margin-top: 40px;
}

#review .review .review-item .text-item3 h5{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}

#review .review .review-item .text-item3 h5 span{
    font-size: 24px;
}

#review .review .review-item .text-item4{
    width: 190px;
    height: 160px;
}

#review .review .review-item .text-item4 .icon i{
    font-size: 32px;
    color: #fff;
    margin-top: 40px;
}

#review .review .review-item .text-item4 h5{
    color: #fff;
    text-transform: capitalize;
    margin-top: 20px;
}

#review .review .review-item .text-item4 h5 span{
    font-size: 24px;
}
/* =======================
review css ends
========================== */



.testimonial{
    height: 390px;
    margin-top: 100px;
}

.testimonial h1{
    text-transform: capitalize;
    font-size: 32px;
}

.testimonial .test-item{
    display: flex;
    justify-content: space-between;
}

.testimonial .test-item .item{
    width: 570px;
    height: 290px;
    background: #f0eeee;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.testimonial .test-item .item .test-image{
    height: 100%;
    width: 200px;
}

.testimonial .test-item .item .test-image img{
    width: 100%;
    height: 100%;
}

.testimonial .test-item .item .test-text{
    height: 100%;
    width: 310px;
}

.testimonial .test-item .item .test-text h4{
    font-size: 20px;
    font-weight: 400;
    color: var(--hcolor);
    line-height: 24px;
    margin-top: 30px;
}

.testimonial .test-item .item .test-text i{
    font-size: 24px;
    margin-top: 40px;
}

.testimonial .test-item .item .test-text h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--hcolor);
    margin-top: 20px;
    text-transform: capitalize;
}

.testimonial .test-item .item .test-text p{
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--hcolor);
    margin-top: 10px;
}
/* =======================
testimonial css ends
========================== */


.subscribe{
    height: 105px;
    margin-top: 100px;
}

.subscribe h1{
    font-size: 32px;
    color: var(--hcolor);
}

.subscribe .text input{
    width: 485px;
    height: 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 0px 5px 0px;
    outline: none;
    margin-top: 20px;
    box-sizing: border-box;
    margin-right: 30px;
    border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.subscribe .text form ::placeholder{
    text-transform: capitalize;
    font-size: 14px;
}

.subscribe .text button{
    padding: 10px 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: var(--gcolor);
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    border: none;
    cursor: pointer;
} 
/* =======================
subscribe css ends
========================== */


.website{
    height: 220px;
    margin-top: 100px;
}

.website .website-item1{
    height: 110px;
    display: flex;
}

.website .website-item1 .item1:last-child{
    border-right: none;
}

.website .website-item1 .item1{
    width: 293px;
    height: 100%;
    border: 1px solid #d1d0d0;
    box-sizing: border-box;
    border-left: none;
    border-top: none;
}

.website .website-item1 .item1 img{
    margin-top: 20px;
    margin-left: 60px;
    filter:grayscale(100%) opacity(40%);
    -webkit-filter:grayscale(100%) opacity(40%);
    -moz-filter:grayscale(100%) opacity(40%);
    -ms-filter:grayscale(100%) opacity(40%);
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}

.website .website-item1 .item1 img:hover {
    filter:grayscale(0) opacity(1);
    -webkit-filter:grayscale(0) opacity(1);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.website .website-item2{
    height: 110px;
    display: flex;
}

.website .website-item2 .item2{
    width: 293px;
    height: 100%;
    border: 1px solid #d1d0d0;
    box-sizing: border-box;
    border-left: none;
    border-bottom: none;
}

.website .website-item2 .item2:last-child{
    border-right: none;
}

.website .website-item2 .item2 img{
    margin-top: 20px;
    margin-left: 60px;
    filter:grayscale(100%) opacity(40%);
    -webkit-filter:grayscale(100%) opacity(40%);
    -moz-filter:grayscale(100%) opacity(40%);
    -ms-filter:grayscale(100%) opacity(40%);
    -o-filter:grayscale(100%) opacity(40%);
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}

.website .website-item2 .item2 img:hover {
    filter:grayscale(0) opacity(1);
    -webkit-filter:grayscale(0) opacity(1);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* =======================
website css ends
========================== */



#contact{
    height: 500px;
    background: var(--bcolor);
    margin-top: 100px;
    position: relative;
}

#contact .logo-text{
    width: 560px;
    height: 290px;
    margin: 0 auto;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#contact .logo-text h4{
    font-size: 14px;
    text-transform: capitalize;
    color: var(--gcolor);
    margin-top: 10px;
}

#contact .logo-text p{
    line-height: 24px;
    margin-top: 30px;
}

#contact .logo-text h4{
    margin-top: 60px;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    color: var(--hcolor);
}

#contact .logo-text h6{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 600;
    color: var(--hcolor);
}

#contact .icon{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}

#contact .icon i{
    width: 40px;
    height: 40px;
    background: #fff;
    line-height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #d1d0d0;
    transition: all linear 0.5s;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
}

#contact .icon::before{
    content: '';
    height: 1px;
    width: 850px;
    background: #d3d1d1;
    position: absolute;
    left: -800px;
    top: 20px;
}

#contact .icon::after{
    content: '';
    height: 1px;
    width: 900px;
    background: #d3d1d1;
    position: absolute;
    left: 300px;
    top: 20px;
}

#contact .icon i:hover{
    background: var(--gcolor);
    color: var(--bcolor);
    border: none;
}

#contact .icon p{
    margin-top: 30px;
}


#contact .chat{
    position: absolute;
    right: 275px;
    top: 300px;
    width: 70px;
    height: 70px;
    background-image: linear-gradient(#36c1f3, #003cff);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#contact .chat i{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    line-height: 70px;
    color: var(--bcolor);
}



/* =======================
contact css ends
========================== */

